extends layout
 
block content
  h1= title
 
  div.container-fluid
    div.row
    let Tools = results
       
      each Tools, index in results
        .col-sm-2
        div.col-sm-2(onclick=`buy(${index})`)
       
          p usage: #{Tools.usage}
          p name : #{Tools.name}
          p price: $#{Tools.price.toFixed(2)}
 
  a(href="/") Back to index
 
   script.
    function buy(index) {
        alert(`You purchased item ${index}`);
    }