extends layout
 
block content
  - let Tools = results
  div(class="container-fluid")
    div(class="row m-1")
      each item in Tools
        - let destination = `dispatch(\"/Tools/update?id=${item._id}\")`
        div(class="row-sm-2 m-1") Mineral #{item.usage}(#{item.name}) is #{item.price}
          button.btn(class="btn-primary ml-1" , onclick= destination) Update
 
    script.
      function dispatch(path){
        window.location.href=path
      }
 
    .container-fluid
      .row
        each item, index in Tools
          .col-sm-4
            .instrument(onclick=`buy(${index})`)
              h3 #{item.usage}
              p name : #{item.name}
              p price : #{item.price}
            .col-sm-2
              p usage: #{item.usage}
              p name : #{item.name}
              p price: #{item.price}
 
  script.
    function buy(index) {
      alert("You purchased item " + index);
    }